@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #f3f4f6;
  --color-accent: #3b82f6;
}

body {
  @apply bg-primary text-gray-900;
  background-image: radial-gradient(var(--color-secondary) 1px, transparent 1px);
  background-size: 24px 24px;
}